
.icon-th-list-1-1:before { content: '\e801'; } /* '' */
.icon-th-list:before { content: '\2630'; } /* '☰' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-align-justify:before { content: '\e781'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-search-1:before { content: '\e802'; } /* '' */