/*
Author: New Materials
Author URI: http://newmaterials.la/
*/

/*---------------------------------- */

/*
 *  TABLE OF CONTENTS
 *
 *	@FONT-FACE
 *
 *	MODULAR STYLE SHEETS
 *
 *  GENERAL LAYOUT + SETUP
 *
 *  PAGE CONTENT STYLES
 * 		
 		SITE HEADER
 * 		SIDEMENU
 * 		FACEBOOK FEED
 * 		FLEX SLIDER MOD
 * 		INTERIOR PAGES => CONTENT COLUMNS
 *		FACULTY LIST
 * 		COURSE PAGE LIST
 * 		FAQ PAGE LIST
 * 		PORTFOLIO LIST
 * 		FOOTERNAV
 * 		PAGE FOOTER
 * 		BOTTOM FOOTER
 *
 *	MEDIA QUERIES + GRID
 *
 *	OTHER SHIT
 *
 */

/*---------------------------------- */

/************************************************************************************
@FONT-FACE
*************************************************************************************/

@import url("fonts.css");

/************************************************************************************
MODULAR STYLESHEETS
*************************************************************************************/

@import url("navigation.css");
@import url("gridpak.css");
@import url("flexslider.css");


/************************************************************************************
GENERAL LAYOUT + SETUP
*************************************************************************************/

body {
	font-family: ApercuBold, helvetica, arial;
	position: relative;
}

#wrapper {
	max-width:96em;
	margin: 0px auto;
}

#page_content {
	max-width:96em;
	margin-right: auto;
	margin-left: auto;
}

.mblshow {
display:none;	
}

.hide {
display:none;	
}


/************************************************************************************
PAGE CONTENT STYLES: TOP TO BOTTOM LEFT TO RIGHT AFTER TOP NAV
*************************************************************************************/


/*---------------------------------- */
/* SITE HEADER */
/*---------------------------------- */
#siteheader {
	border-bottom: 1px solid #0F5A37;
	overflow: hidden;
	margin-top: 1.5%;
	clear: both;
}

#datewrap01 {
	background-image: url("../images/bit.png");
	background-position: right center;
	background-repeat: repeat-y;
	margin-top: 5%;
	padding-bottom: 3%;
	padding-right: 10%;
}

#datewrap01 {
    color: #0F5A37;
    text-align: right;
}

#datewrap01 h2 {
    font-size: 3.2em;
}

#datewrap01 a {
    color: #FC3C6A;
    font-family: ApercuItalic,helvetica,arial;
    font-size: 1.1em;
    font-weight: normal;
}

#branding {
	margin-bottom: 1.7%;
}

h1 a{
	font-size: 4em;
	font-family: ApercuRegular, helvetica, arial;
	display: block;
	background-image: url("../images/new_logo.svg");
	background-repeat: no-repeat;
	height: 2.2em;
	width: 4.2em;
	margin: 0% auto;
	background-position: center;
}


.event {
    color: #0F5A37;
    font-family: ApercuMono,helvetica,arial;
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 3px;
    margin-top: 1px;
    text-transform: uppercase;
}

#datewrap02 {
    color: #0F5A37;
    text-align: left;
}

#datewrap02 {
	padding-left: 10%;
	background-image: url("../images/bit.png");
	background-repeat: repeat-y;
	background-position: left;
	padding-bottom: 3%;
	margin-top: 5%;
}

#datewrap02 h2 {
    font-size: 3.2em;
}

#datewrap02 a {
    color: #FC3C6A;
    font-family: ApercuItalic,helvetica,arial;
    font-size: 1.1em;
    font-weight: normal;
}

#facebookfeed {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0F5A37;
	margin-bottom: .9em;
	padding-bottom: 1em;
}

.new {
	font-family: ApercuBoldItalic,helvetica,arial;
}

#featured {
	background-color: #E7EEEC;
}

.rotator {
	float: right;
	padding-bottom: 2em;
}

/*---------------------------------- */
/* SIDE MENU */
/*---------------------------------- */

#sidemenu {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0F5A37;
	margin-bottom: .9em;
	padding-bottom: .75em;
}

#sidemenu h2 {
	background-color: #FEEFF2;
	text-decoration: underline;
	font-size: 1.4em;
	color: #FC3C6A;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 15px;
}

#pagemenu li {

	margin-bottom:.7em;
}

#pagemenu li a{

	text-decoration: none;
	font-size: 1.4em;
	color: #FC3C6A;
}

#featured img {
	height: auto;
	width: 100%;
}

#featured h3 {
	font-family: ApercuBold, helvetica, arial;
	font-size: 1.3em;
	font-weight: normal;
	color: #0f5a37;
	text-align: center;
	margin-bottom: 3%;
}

#featured p {
	text-align: center;
	font-size: 1.2em;
	color: #0f5a37;
	font-family: ApercuRegular, helvetica, arial;
	max-height:60px;
}

.featcap {
	text-align: center;
}

/*---------------------------------- */
/* FACEBOOK FEED STYLES */
/*---------------------------------- */

.fblink {
	display:block;
	margin-top:1em;
	color: #F69;
}

.fblink p a{
	color: #FC3C6A;
}

#feedwrap a h3 {
    font-weight:normal;
    color:#FC3C6A;
	margin-bottom:.5em;
	margin-top:1em;
	font-size:1em;
	line-height:1em;
}

#feedwrap a p {
	color: #F69;
	font-size:1em;
	line-height:1em;
}

#feedwrap a {
	text-decoration:none;
}

/*---------------------------------- */
/* FLEXSLIDER MOD STYLES */
/*---------------------------------- */

.flex-caption {
	background-color: rgba(252, 60, 106, .75);
	width: 100%;
	position: absolute;
	bottom: 0px;
	color: #FFF;
}

.flex-caption h3 a{
	font-size: 2em;
	font-family: ApercuRegular, helvetica, arial;
	display: block;
	margin-top: 1.4%;
	margin-left: 2%;
	text-decoration:none;
	color:#FFF;
}

.flex-caption p a{
	font-size: 1.4em;
	margin-top:1%;
	font-family: ApercuRegular, helvetica, arial;
	display: block;
	margin-bottom: 1.7%;
	margin-left: 2%;
	text-decoration:none;
	color:#FFF;
}

.flexslider .slides li {
	position: relative;
}

/*---------------------------------- */
/* INTERIOR PAGE COLUMNS */
/*---------------------------------- */

#centercol{
	padding:0 1%;
}

.donkey #centercol{
	margin-left:25.25%;
}

#centercol img {
	width:100%;
	height:auto;
}

#centercol h1{
	text-decoration: underline;
	font-size: 2em;
	color: #FC3C6A;
	padding-bottom:2%;
	text-align: center;
	display:block;
}

#centercol h2{
	font-size: 1.4em;
	color: #0f5a37;
	padding-bottom:1.25%;
}

#centercol h3{
	font-size: 1.5em;
	color: #FC3C6A;
	padding-bottom:1%;
}

#centercol h4{
	font-size: 1.2em;
	color: #0f5a37;
	padding-bottom:1%;
}

#centercol p{
	font-size: 1.22em;
	color: #0f5a37;
	text-align: left;
	margin-bottom:4%;
	font-family: ApercuRegular, helvetica, arial;
	line-height: 1.4em;
	font-weight: 300;
}

#centercol a{
	color: #0f5a37;
	text-decoration:underline;
}

#rightcol{
	height:auto;
	margin-top:3.25%;
}

#rightcol h1{
	font-size: 1.5em;
	color: #FC3C6A;
	padding-bottom:5%;
}

#rightcol p{
	font-size: 1.2em;
	color: #0f5a37;
	text-align: left;
	margin-bottom:4%;
	font-family: ApercuRegular, helvetica, arial;
	line-height: 1.4em;
}

#rightcol a{
	color: #0f5a37;
	text-decoration:underline;
}

/*-------------------------------------------------- */
/* WHAT IS, PUBLIC PROGRAMS, ART CENTER HEADER IMAGE */
/*-------------------------------------------------- */

.lrgimgheader {
 	float: right;
 	height: auto;
 	width: 74%;
 	margin-bottom:1em;
}


/*---------------------------------- */
/* FACULTY LIST */
/*---------------------------------- */
#facultylist li ul{
	border-top:1px solid #0f5a37;
	border-bottom:1px solid #0f5a37;
	margin-top:.5em;
	margin-bottom:.5em;
	padding-top:.2em;
	padding-bottom:.4em;
}

#facultylist li a{
	color: #0f5a37;
    font-size: 1.3em;
    text-decoration: none;
}

#facultylist li ul a{
	color: #FC3C6A;
    font-size: 1.3em;
    line-height:1.4em;
    text-decoration: underline;
}

#facultylist li ul li {
	margin-bottom:.4em;
}

#facultylist li ul li a.active{
	background-color: #FEEFF2;
	display:block;
}

#facultylist p, #faqlist p, #courselist p {
	margin-bottom:.35em;
	margin-top:.35em;
}

/*
.faculty #rightcol {
    margin-top: 0%;
}

.faculty #rightcol h1 {
    color: #FC3C6A;
    font-size: 1.5em;
    padding-bottom: 0%;
}

.faculty #rightcol h2{
	font-family: ApercuRegular, Helvetica, sans-serif;
    color: #FC3C6A;
    font-size: 1.3em;
    line-height:1.4em;
    padding-bottom:.5em;
}*/


/*---------------------------------- */
/* COURSES PAGE LIST*/
/*---------------------------------- */
#courselist li a{
	color: #FC3C6A;
    font-size: 1.3em;
    line-height:1.4em;
    text-decoration: none;
}

#courselist li ul li a.active{
	background-color: #FEEFF2;
	display:block;
}

#courselist li {
	border-bottom:1px solid #0f5a37;
	margin-bottom:.5em;
	padding-bottom:.5em;
}

#courselist li a.active{
	background-color: #FEEFF2;
	display:block;
}

#courselist li:first-child {
	margin-top:0em;
	padding-top:.2em;
}

#courselist li:last-child {
	border-bottom:none;
}

#classsection li {
	border-bottom:1px solid #0f5a37;
	margin-bottom:1em;
}

#classsection li:last-child {
	border-bottom:none;
}


#classsection li h1{
	color: #FC3C6A;
    font-size: 1.3em;
    padding-bottom: 0%;
    text-decoration: underline;
    text-align:left;
}

#classsection li h2{
    color: #FC3C6A;
    font-size: 1.3em;
    line-height:1.4em;
    padding-bottom:.5em;
    text-transform:uppercase;
}

.classes #rightcol {
    margin-top: 0%;
}

/*---------------------------------- */
/* FAQ PAGE LIST*/
/*---------------------------------- */

#faqlist li {
	border-bottom:1px solid #0f5a37;
	margin-bottom:.5em;
	padding-bottom:.5em;
}

#faqlist li a{
	color: #FC3C6A;
    font-size: 1.3em;
    line-height:1.4em;
    text-decoration: none;
}

#faqlist li a.active{
	background-color: #FEEFF2;
	display:block;
}

#faqlist li:last-child {
	border-bottom:none;
}

#faqlist li:first-child {
	margin-top:0em;
	padding-top:0em;
}

.faq #rightcol {
    margin-top: 0%;
}


/*---------------------------------- */
/* PORTFOLIO PAGE LIST*/
/*---------------------------------- */

#portfoliolist li {
	border-bottom:1px solid #0f5a37;
	margin-bottom:.5em;
	padding-bottom:.5em;
}

#portfoliolist li a{
	color: #FC3C6A;
    font-size: 1.3em;
    line-height:1.4em;
    text-decoration: none;
}

#portfoliolist li a.active{
	background-color: #FEEFF2;
	display:block;
}

#portfoliolist li:last-child {
	border-bottom:none;
}

#portfoliolist li:first-child {
	margin-top:0em;
	padding-top:0em;
}

#portfoliolist p {
    color: #0F5A37;
    font-family: ApercuRegular,helvetica,arial;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-bottom: 3%;
    text-align: left;
}

#portfoliolist p strong {
    color: #0F5A37;
    font-family: ApercuBold,helvetica,arial;
    text-decoration:underline;
}

/*.portfolio #rightcol {
    margin-top: 0%;
}*/

/*---------------------------------- */
/* FOOTER NAV */
/*---------------------------------- */

.navtab {
	height: 7.5em;
	background-color: #FDE1E8;
	margin-bottom:.5%;
	padding-top: 2%;
	padding-bottom: 2%;
	cursor:pointer;
}

.navwrap {
	display: block;
	background-image: url(../images/bit.png);
	background-repeat: repeat-y;
	background-position: right;
	height: 7.5em;
	padding-right: 8%;
	overflow:hidden;
}
.navtab h3 a{
	font-size: 1.1em;
	color: #FC3C6A;
	text-decoration: underline;
	text-transform: uppercase;
	margin-bottom: 0.5em;
	padding-top: 0.75em;
	display:block;
}
.navtab p {
	font-size: 1.2em;
	font-family: ApercuRegular, Helvetica, sans-serif;
	font-weight: normal;
	color: #00653b;
	line-height: 1em;
}

.courses {
	height: 7.5em;
	width: 7.5em;
	background-image: url("../images/courses.svg");
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	margin-left: 9.5%; 
	float:left;
	margin-right: 6%;
}

.catalog {
	height: 7.5em;
	width: 7.5em;
	background-image: url("../images/catalog.svg");
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	margin-left: 9.5%; 
	float:left;
	margin-right: 6%;
}

.register {
	height: 7.5em;
	width: 7.5em;
	background-image: url("../images/register.svg");
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	margin-left: 9.5%; 
	float:left;
	margin-right: 6%;
}

.gallery {
	height: 7.5em;
	width: 7.5em;
	background-image: url("../images/gallery.svg");
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	margin-left: 9.5%; 
	float:left;
	margin-right: 6%;
}

.map {
	height: 7.5em;
	width: 7.5em;
	background-image: url("../images/map.svg");
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	margin-left: 9.5%;
	float:left;
	margin-right: 6%;
}

.contact {
	height: 7.5em;
	width: 7.5em;
	background-image: url("../images/contact.svg");
	-webkit-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	background-size: 100% 100%;
	margin-left: 9.5%;
	float:left;
	margin-right: 6%;
}

.lastnav {
		background-image: none;
}


.pagefooter {
	background-color: rgba(15, 90, 55, 0.1);
	clear: both;
	left: 0px;
	bottom: 0px;
}

#siteheader, .main_content {
	margin-bottom:1%;	
	overflow:hidden;	
}

.pagefootercontent{
	max-width:960px;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
	padding-bottom: 1.35%;
}

#facebookfeed h2 {
	background-color: #FEEFF2;
	text-decoration: underline;
	font-size: 1.4em;
	color: #FC3C6A;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 15px;
}

#featured h2 {
	background-color: #E7EEEB;
	text-decoration: underline;
	font-size: 1.4em;
	color: #FC3C6A;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 15px;
}


/************************************************************************************
PAGEFOOTER
*************************************************************************************/

.pagefootercontent .blurb p {
	font-size: 1.4em;
	color: #0f5a37;
	line-height: 1.2em;
}
.pagefootercontent .blurb {
	padding-top: 2.2%;
	text-align: center;
	float: left;
}

.pagefootercontent .blurb p a {
	color: #FC3C6A;
}

.footernavlist{
	width:50%;
	float:right;
}

#aboutus{
	float:left;
	margin-right:8%;
}

#explore {
	float:left;
	margin-right:8%;
}

#connect {
	float:left;
	margin-right:8%;
}

#contactus{
	float:left;
}

.footernavlist h4{
	color: #0f5a37;
	text-decoration: none;
	font-size: 1.4em;
	display:block;
	margin-top:1.35em;
	margin-bottom:.7em;
}

.footernavlist ul li, .footernavlist ul li a{
	color: #0f5a37;
	font-size: 1.1em;
	text-decoration: none;
	line-height: 1.3em;
}

.address {
	font-family: ApercuBold, helvetica, arial;
	margin-top:1em;
	color: #0f5a37;
	font-size: 1.1em;
	text-decoration: none;
	line-height: 1.3em;
}

/**********************************************************************
BOTTOM FOOTER STYLES
***********************************************************************/

.bottomfooter {
	clear: both;
	color: rgba(15, 90, 55, 0.5);
	padding-top: .5%;
	padding-bottom:1%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #00653b;
	overflow:hidden;
	margin:0% auto;
	max-width:96em;
}

.copyright {
	float: left;
	display:block;
}

.terms a {
	color: rgba(15, 90, 55, 0.5);
	float: right;
	margin-right: 2em;
	text-decoration: none;
}

.credits a {
	color: rgba(15, 90, 55, 0.5);
	float: right;
	text-decoration: none;
}

/**********************************************************************
TEST CONTENT STYLES
***********************************************************************/

.projectimage {

width:24%;
height:auto;
float:left;
margin-bottom: 1%;
margin-right: 1%;

}

#gallerywrap h1 {

	text-decoration: underline;
	font-size: 2em;
	color: #FC3C6A;
	padding-bottom:2%;
	text-align: center;
	display:block;

}